<h2>Rails project: This file is located at app/views/demo/index.html.erb</h2>

<p><strong>db adapter: </strong> <%= @db_adapter %></p>

<p><strong>db version: </strong> <%= @db_version %></p>

<p><strong>tables: </strong> <%= @tables.inspect %></p>

<h2>This Main Demo</h2>

<ul>
  <li>Rails Books CRUD Demo: <%= link_to("Jets Mega Mode: Jets and Rails Combined", books_path) %></li>
  <li>Blog Post: <a href="https://blog.boltops.com/2018/11/03/jets-mega-mode-run-rails-on-aws-lambda">Jets Mega Mode: Run Rails on AWS Lambda</a></li>
  <li>GitHub repo: <a href="https://github.com/tongueroo/jets-mega-demo">tongueroo/jets-mega-demo</a></li>
</ul>

<h2>Other Live Jets Demos</h2>

<ul>
  <li><%= link_to("Jets CRUD Demo", "https://demo.rubyonjets.com/") %></li>
  <li><%= link_to("Jets Image Upload Carrierwave Demo: Binary Support", "https://upload.demo.rubyonjets.com/") %></li>
  <li><%= link_to("Jets Afterburner: Rails Support", "https://afterburner.demo.rubyonjets.com/") %></li>
</ul>

<p>If you find Jets interesting, please it a GitHub star <a href="https://github.com/tongueroo/jets">tongueroo/jets</a>. It helps others find out about the project.  I'd appreciate it!</p>
